workflow/College_WhatsApp_Automation.json.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        16,
        0
      ],
      "id": "32ba79d7-96e8-4f13-9145-ab8e2e24d4a9",
      "name": "WhatsApp Trigger",
      "webhookId": "d64a4156-8940-400d-855c-1643c010f149",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "nayOM23Fw6Miv0yU",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0a04ed6-39d0-4f4f-a633-5e4228b0ca2f",
              "name": "=message_text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "a8e7c5eb-7c19-4115-aaa7-2680d56f68fb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1d6d0bff-316e-40ce-bfa8-22edf57a86fb",
              "leftValue": "={{$json.message_text}}",
              "rightValue": "holiday",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        0
      ],
      "id": "c7fe678a-8cc3-4481-8339-7ed770783fa4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uB3BVuEsz-4E2BZwmwnkS_kPQS1lTQfoeRSZFTRfZN4",
          "mode": "list",
          "cachedResultName": "college Notification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uB3BVuEsz-4E2BZwmwnkS_kPQS1lTQfoeRSZFTRfZN4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uB3BVuEsz-4E2BZwmwnkS_kPQS1lTQfoeRSZFTRfZN4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TimeStamp": "={{$now}}",
            "Category": "Holiday",
            "Messages": "={{$json.message_text}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TimeStamp",
              "displayName": "TimeStamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Messages",
              "displayName": "Messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        -96
      ],
      "id": "3aab274f-1b3e-45f1-8dc6-6d5fa5ea901b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "r2HrErWO8aL0LXPC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "07f35832-adc1-4c90-9f88-10f04cfa13cf",
              "leftValue": "={{$json.message_text}}",
              "rightValue": "Job",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        96
      ],
      "id": "c7b47138-0200-4322-9915-fd0bec72ddbe",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uB3BVuEsz-4E2BZwmwnkS_kPQS1lTQfoeRSZFTRfZN4",
          "mode": "list",
          "cachedResultName": "college Notification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uB3BVuEsz-4E2BZwmwnkS_kPQS1lTQfoeRSZFTRfZN4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uB3BVuEsz-4E2BZwmwnkS_kPQS1lTQfoeRSZFTRfZN4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TimeStamp": "={{$now}}",
            "Category": "=Job",
            "Messages": "={{$json.message_text}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TimeStamp",
              "displayName": "TimeStamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Messages",
              "displayName": "Messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        0
      ],
      "id": "e82bd16f-2691-4005-b5de-505993814716",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "r2HrErWO8aL0LXPC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "30a93c8c-883a-419e-943d-25ad1612e235",
              "leftValue": "={{$json.message_text}}",
              "rightValue": "class",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        192
      ],
      "id": "fdb531ab-ed4c-4bb9-a06a-5c65ef7e0baa",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uB3BVuEsz-4E2BZwmwnkS_kPQS1lTQfoeRSZFTRfZN4",
          "mode": "list",
          "cachedResultName": "college Notification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uB3BVuEsz-4E2BZwmwnkS_kPQS1lTQfoeRSZFTRfZN4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uB3BVuEsz-4E2BZwmwnkS_kPQS1lTQfoeRSZFTRfZN4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Messages": "={{$json.message_text}}",
            "Category": "Class Schedule",
            "TimeStamp": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TimeStamp",
              "displayName": "TimeStamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Messages",
              "displayName": "Messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        96
      ],
      "id": "3b867c35-8af0-4684-9a31-e1bfdbf18393",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "r2HrErWO8aL0LXPC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uB3BVuEsz-4E2BZwmwnkS_kPQS1lTQfoeRSZFTRfZN4",
          "mode": "list",
          "cachedResultName": "college Notification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uB3BVuEsz-4E2BZwmwnkS_kPQS1lTQfoeRSZFTRfZN4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uB3BVuEsz-4E2BZwmwnkS_kPQS1lTQfoeRSZFTRfZN4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Category": "General",
            "Messages": "={{$json.message_text}}",
            "TimeStamp": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TimeStamp",
              "displayName": "TimeStamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Messages",
              "displayName": "Messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        288
      ],
      "id": "2522f157-35c8-4d4c-b7ef-117e9bb15cc8",
      "name": "Append row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "r2HrErWO8aL0LXPC",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "af44e987-86b7-49a6-a31a-52a8cf183976",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f78ba1d45564fdff230c8efca96a1df01776014c7c093e57d88ed7ecf37d2ee9"
  },
  "id": "AjkLV3EbuXOUyDm3NCUz7",
  "tags": []
}